@import "./variables.scss";

.animate {
    &-image {
        opacity: 0;

        animation-name: reveal-from-down;
        animation-duration: $image-animation-time;
        animation-timing-function: ease-out;
        animation-delay: $image-delay-time;
        animation-fill-mode: forwards;
    }

    &-nav-item {
        opacity: 0;

        animation-name: fade-in;
        animation-duration: $navbar-items--load-time; 
        animation-timing-function: ease;
        animation-delay: $navbar--load-time;
        animation-fill-mode: forwards;
    }

    &-logo {
        transform: scale(0);
        animation-name: grow-out;
        animation-duration: $navbar-items--load-time;
        animation-delay: $navbar--load-time;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }

    &-content {
        opacity: 0;

        animation-name: reveal-from-left;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-delay: $navbar--load-time + $navbar-items--load-time;
        animation-fill-mode: forwards;
    }

    &-colorize {
        opacity: 0;

        animation-name: colorize;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-delay: $navbar--load-time + $navbar-items--load-time;
        animation-fill-mode: forwards;
    }

    &-line {
        &::after {
            animation-name: grow-line;
            animation-duration: 1s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes grow-out {
    0% { transform: scale(0);}
    80% { transform: scale(1.1);}
    100% { transform: scale(1);}
}

@keyframes reveal-from-left {
    0% {
        transform: translateX(-1 * $reveal-transition-shift--horizontal);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes reveal-from-down {
    0% {
        transform: translateY($reveal-transition-shift--vertical);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes grow-line {
    0% { width: 0;}
    100% {
        width: $title-overline-width;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}