// $theme-colors: (

// );

@import "~bootstrap/scss/bootstrap";
@import "./containers.scss";
@import "./rules.scss";
@import "./other.scss";
@import "./resize.scss";
@import "./theme.scss";

body,
html {
    background-color: $color-bg;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: $font-family;
}

.fullscreen-container {
    @extend .c;

    min-width: 100%;

    min-height: 100vh;
    height: auto;
}

#root {
    @extend .c;

    min-height: 100%;
    height: auto;
    width: 100%;
}

#app {
    margin: 0;
    padding: 0;

    min-width: 280px;
    width: 100vw;
    // max-width: 2800px;
    min-height: 620px;
    height: 100vh;
    // max-height: 1200px;

    scroll-behavior: smooth;
    justify-content: flex-start;
    font-family: $font-family;
}

#basePage {
    @extend .fullscreen-container;
    @extend .smooth;

    justify-content: flex-start;
    font-family: $font-family;

    min-height: inherit;
    width: inherit;
    min-width: 100vw;
    max-width: inherit;

    max-height: inherit;

    margin-left: auto;
    margin-right: auto;

    border-radius: 0;

    transition: background-color $time-dark_mode-transition;
}

#landPage {
    @extend #basePage;

    height: 100%;
    display: flex;
    flex-direction: column;
    // padding-top: $navbar--height + 2vh;

    overflow-y: hidden;

    & main {
        @extend .c;

        justify-content: flex-start;
        height: 100%;
        width: 100%;
    }
}

#areasPage,
#schedulePage,
#faqsPage {
    @extend #basePage;
    padding: 0px;
}
