$test: #3ba13b;

// defaults
$colors: (
    "green-UIS": #67b93e,
);

$color-uis--green: #67b93e;

$color-sea--blue: rgb(46, 43, 105);

$color-sea-bubble: #a6d3dc;
$color-join-btn: #6b37c1;

// navbar
$color-nav-link--hover: #7a6c5d;
$color-nav-link: #665b4e;

$color-navbar--hover: #e6e7e1;

$color-hover-bar: $color-sea-bubble;
$color-header-hover-bar: $color-sea-bubble;

$color-bg: rgb(241, 242, 235);
$color-bg--hover: rgb(172, 168, 162);
$color-svg-bg--hover: rgb(66, 117, 40);

$color-stripe-disabled: rgb(133, 131, 131);
$color-stripe--hover: rgb(226, 241, 250);

$color-blue-link: #859ce7;
$color-link--blue: #859ce7;
$color-hover--blue_link: #798dd1;

$color-soft--hover: rgb(230, 230, 233);

$color-question-header: #fff;
$color-question-body: $color-soft--hover;
$color-question--border: rgb(194, 192, 192);

$color-font: #3e2a35;
$color-font--title: rgb(20, 46, 80);

$color-font--main_title: #002626;
$color-font--main_text: #f7f3e3;

$color-font--schedule_header: white;
$color-font--schedule_tutor: #3e2a35;

$color-font--faq-title: #3e2a35;
$color-font--faq-answer: #5c5346;

// dark mode

// defaults
$color-dark_theme--blue: #032343;

$color-dark_theme-font--p: #eeeeee;

$color-dark_theme--border_container: #666c74;

$color-dark_theme--bg: #222831;
$color-dark_theme-hover--bg: #212730;

// navbar
$color-dark_theme-hover--navbar: #23272a;
$color-dark_theme--navbar_items: #ededed;
$color-dark_theme-hover--navbar_items: #7289da;
$color-dark_theme-hover--navbar_items_bar: white;

$color-dark_theme--main_text: #eeeeee;
$color-dark_theme--main_title: #caf7e3;

$color-dark_theme-header--hover_bar: #99aab5;
$color-dark_theme-font--header: #eeeeee;

// join button

// $color-dark_theme--btn_join: #1d334d;
$color-dark_theme--btn_join: $color-uis--green;
// schedule page

$color-dark_theme--schedule_stripe: rgb(35, 37, 43);
$color-dark_theme--schedule_stripe_border: rgb(78, 82, 94);
$color-dark_theme-hover--schedule_stripe: rgb(56, 59, 68);

$color-dark_theme-font--tutor: #eeeeee;
$color-dark_theme-font--time: rgb(187, 203, 214);

$color-dark_theme--select_area: #393e46;
$color-dark_theme-hover--select_area: #494f58;

$color-dark_theme-hover--selecteable_areas: #2f333a;

// faqs page
$color-dark_theme--faq_question: #393e46;
$color-dark_theme--faq_question_body: #4b515c;

$color-theme_switcher--dark: #111;
$color-theme_switcher-icon--dark: rgb(247, 208, 54);
$color-theme_switcher-icon-hover--dark: rgb(248, 216, 85);

// $color-dark_theme--bubble_logo: #2b343f; #a2bcdb
$color-dark_theme--bubble_logo: #8096b1;

$color-dark_theme--title_logo: #fff;

//

$color-mathematics--header: #4ed34e;
$color-mathematics--subject: #77dd77;
$color-mathematics--bg: #b4ecb4;

$color-physics--header: #7c57bb;
$color-physics--subject: #966fd6;
$color-physics--bg: #decef2;

$color-chemestry--header: #68bbe3;
$color-chemestry--subject: #89cff0;
$color-chemestry--bg: #cae7f3;

$color-geometry--header: #f77a27;
$color-geometry--subject: #ff964f;
$color-geometry--bg: #fed0b1;

$color-languages--header: #e18aaa;
$color-languages--subject: #ecbdc4;
$color-languages--bg: #f5dce0;
