$color-uis--green: rgb(103, 185, 62);
$color-sea--blue: rgb(41, 135, 175);

$color-sea-bubble: #c1f2b8;
$color-join-btn: $color-sea--blue;

$color-nav-link--hover: #7A6C5D;
$color-nav-link: #665b4e;

$color-navbar--hover: #e6e7e1;

$color-hover-bar: #859ce7;

$color-header-hover-bar: $color-sea--blue;

$color-bg: rgb(241, 242, 235);

$color-bg--hover:rgb(172, 168, 162);
$color-svg-bg--hover:rgb(66, 117, 40);


$color-stripe-disabled: rgb(133, 131, 131);
$color-stripe--hover: rgb(226, 241, 250);

$color-blue-link: #859ce7;

$color-soft--hover: rgb(230, 230, 233);

$color-question-header: #fff;
$color-question-body: $color-soft--hover;
$color-question--border: rgb(194, 192, 192);


$color-font: #3E2A35;
$color-font--title: rgb(20, 46, 80);

// $color-font--main_title: rgb(157, 92, 99);
$color-font--main_title: #212529;
$color-font--main_text: #faead2c2;

$color-font--schedule_header: white;
$color-font--schedule_tutor: #3E2A35;

$color-font--faq-title: #3E2A35;
$color-font--faq-answer: #5C5346;

// dark mode

$color-dark_theme--blue: #032343;

$color-dark_theme--bg: #36393F;
$color-dark_theme-hover--navbar: #202225;
$color-dark_theme--navbar_items: #ededed;
$color-dark_theme-hover--navbar_items: #A09BE7;
$color-dark_theme-hover--navbar_items_bar: white;

$color-dark_theme--main_text: #ffffff;
$color-dark_theme--main_title: #99aab5;

$color-theme_switcher--dark: #111;
$color-theme_switcher-icon--dark: rgb(247, 208, 54);
$color-theme_switcher-icon-hover--dark: rgb(248, 216, 85);

$color-dark_theme--bubble_logo: $color-dark_theme--blue;
$color-dark_theme--title_logo: #fff;

$color-dark_theme-hover--bg: #37354e;

// 

$color-mathematics--header: #4ed34e;
$color-mathematics--subject: #77dd77;
$color-mathematics--bg: #b4ecb4;

$color-physics--header: #7c57bb;
$color-physics--subject: #966fd6;
$color-physics--bg: #decef2;

$color-chemestry--header: #68BBE3;
$color-chemestry--subject: #89CFF0;
$color-chemestry--bg: #cae7f3;

$color-geometry--header: #f77a27;
$color-geometry--subject: #ff964f;
$color-geometry--bg: #fed0b1;

$color-languages--header: #E18AAA;
$color-languages--subject: #ECBDC4;
$color-languages--bg: #F5DCE0;