@import "./variables.scss";

.c {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;


    align-items: center;
    justify-content: center;

    border-radius: $btn-radius;

    font-family: $font-family !important;

    &-area {
        border-radius: $btn-radius;

        min-width: 300px;
        width: 300px;
        min-height: 75vh;

        margin-bottom: 30px;
        margin-right: 2%;
    
        transition: all 0.2s ease;

        &:hover {
            transform: scale(1.005);
            box-shadow: 0 2px 4px 0 $color-bg--hover, 0 6px 8px 0 $color-bg--hover;
        }

        &--header {
            @extend .c;

            border-radius: 10px;

            min-height: 15vh;
            width: 100%;

            transition: transform 0.2s ease-in-out;

            & a {
                color: white;
                text-decoration: none;
                font-size: 30px;
                font-weight: 600;
            }

            &:hover {
                transform: scale(1.01);
                cursor: pointer;
            }

        }

        &--body {
            @extend .c;

            flex-direction: row;

            min-height: 60vh;

            flex-wrap: wrap;
            padding: 50px 10px;

            justify-content: space-evenly;
            align-items: flex-start;

        }
    }

    &-btn {
        @extend .c;
        &--join {
            @extend .c-btn;
            min-width: 150px;

            & svg {transform: scale(1.2);}

            &:hover {
                transform: scale(1.02);
                box-shadow: 2px 1px 4px 0 $color-svg-bg--hover, 2px 2px 8px 0 $color-svg-bg--hover;
                & a {
                    transform: scale(1.02);
                }
                & svg {
                    transform: scale(1.23);
                }
            }
        }
    }

    &-content {
        @extend .c;

        &--main {
            @extend .c-content;
            width: 35vw;
        }
    }

    &-image {
        @extend .c;
        &--main {
            & img {
                min-width: 475px;
                width: 35vw;
                height: auto;
                transition: transform 0.2s ease-in;

                &:hover {
                    transform: translateY($image-shift-hover);
                    cursor: pointer;
                }
            }
        }

        & img {
            height: 28vh;
            width: auto;

            transition: transform 0.2s ease-in;

            &:hover {
                transform: translateY($image-shift-hover);
                cursor: pointer;
            }
        }
    }

    &-subject {
        @extend .c;
        min-width: 20%;
        margin-bottom: 20px;

        padding: 10px 20px;

        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.05);
            cursor: pointer;

            & a {
                color: rgb(77, 77, 77);
            }
        }

        & a {
            color: #111;
            font-size: 20px;
            text-decoration: none;
            font-weight: 500;
        }
    }

    &-select {
        &--schedule {
            margin-right: auto;

            width: 35vw;
            min-width: 150px;

            height: 10vh;
            max-height: 10vh;
            padding: 2vh $page-margin;
        }
    }

    &-nav {
        @extend .c;

        position: absolute;
        left: 0;
        top: 0;

        border-radius: 0 !important;

        justify-content: flex-start;

        min-height: $navbar--height + 2vh;
        min-width: 100%;
        width: 100%;
        padding: 0 10vw;

        z-index: 100;

        &:hover {background-color: $color-navbar--hover;}

        &::before {
            content: "";
            min-height: 2vh;
            min-width: 100vw;
            width: 100%;
        }
    }

    &-logo {
        @extend .c;
        flex-direction: row;

        max-height: 88px;
    }

    &-schedule {
        border-radius: $btn-radius;
        padding: 0;
        margin: 0;
        width: 100%;
        max-width: 100%;
        height: 100%;
        box-shadow: 0 2px 4px 0 #c0c0c0, 0 3px 8px 0 #c0bfbf;
    }

    &-stripe {
        display: flex;
        flex-direction: column;
        justify-content: center;

        border-bottom: solid 2px rgb(208, 206, 206);
        transition: all 0.1s ease;

        padding: 0;

        background-color: #fff;

        min-height: 12vh;

        &:hover {
            background-color: $color-soft--hover;
            cursor: pointer;
        }

        &--disabled {
            @extend .c-stripe;
            background-color: $color-stripe-disabled;
            pointer-events: none;
        }
    }

    &-svg {
        &_background {
            background-repeat: no-repeat;
            background-position: center top;

            position: relative;
            &--land {
                @extend .c-svg_background;
                background-image: url("../images/bg-landPage.png");
                background-size: 90% 80%;
            }

            &--areas {
                @extend .c-svg_background;
                background-position: center;
                background-image: url("../images/bg-areasPage.png");
                background-size: 50% 70%;
                background-attachment: fixed;
            }

        }
    }

    &-question {
        padding: 0;
        margin: 0;
        width: 70vw;
        max-width: 90vw;
        min-height: 68px !important;
        height: auto;

        background-color: $color-question-header;

        &--header {
            @extend .c;
            align-items: flex-start;

            background-color: $color-question-header;

            flex-wrap: wrap;

            flex: 1 0 auto;

            overflow: auto;

            border-bottom: solid 2px $color-question--border;

            max-width: 100%;


            min-height: 68px !important;    
            height: auto;


        }

        &--body {
            background-color: $color-question-body;
            &:hover {cursor: default;}
        }

        &:hover {
            cursor: pointer;
            transform: scale(1.005);
            box-shadow: 1px 2px 4px 0 $color-bg--hover, 1px 4px 8px 0 $color-bg--hover;
        }
    }

    &-theme_switcher {
        @extend .c;

        position: fixed;
        top: 20%;
        right: 0;
        background-color: white;
        width: $width--theme_switcher;
        height: $height--theme_switcher;

        border-radius: $radius--theme_switcher 0 0 $radius--theme_switcher;
        box-shadow: 0 1px 2px 0 #c0c0c0, 0 2px 4px 0 #c0bfbf;

        align-items: flex-start;

        z-index: 200;

        transition: width 0.2s ease-in, background-color $time-dark_mode-transition, top 0.5s ease-in, height 0.3s ease-out;

        &:hover {
            width: $width-hover--theme_switcher;
            box-shadow: 0 2px 4px 0 #c0c0c0, 0 3px 8px 0 #c0bfbf;
            cursor: pointer;
            & svg {fill: rgb(248, 224, 38);}

            // &::after {
            //     content:"";
            //     position: absolute;
            //     margin-left: 25px;
            //     top: 20%;
            //     right: $width--theme_switcher;
            //     height: inherit;
            //     border-radius: 50%;
            //     background-color: $color-soft--hover;
            // }
        }

        & svg {
            fill: rgb(255, 225, 0);
            margin-left: 25px;
        }

    }

    &-widget { 
        // overflow-y: hidden;
        &:hover {
            transform: translateY(-42%);
            box-shadow: 2px 1px 4px 0 $color-svg-bg--hover, 2px 2px 8px 0 $color-svg-bg--hover;
        }
    }
}

.column {
    &-header {
        @extend .c;
        min-width: $schedule-col-width--min;
        width: $schedule-col-width;
    }
    &--time {
        padding: 0;
        margin: 0;

        text-align: center;
        min-width: $schedule-col-width--min;
        width: $schedule-col-width; 
        border-right: solid 2px rgb(208, 206, 206);
    }
    &--day {
        padding: 0;
        margin: 0;
        min-width: $schedule-col-width--min;
        width: $schedule-col-width;
    }
}

.row {
    --bs-gutter-x: 0;
    &-header {
        transition: all 0.2s ease-in-out;
        width: auto;
        border-radius: $btn-radius;
        border-bottom: solid 2px rgb(148, 147, 147);
    }

    &-stripe {
        flex-direction: row;
        border-radius: $btn-radius;
    }
}

.speech-bubble {
    position: relative;
    border-radius: $bubble-radius;
    background-color: $color-sea-bubble;
    padding: 10px 50px;

    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-left-color: $color-sea-bubble;
        border-right: 0;
        border-bottom: 0;
        margin-top: 10px;
	    margin-right: -15px;
    }

    &--right {
        @extend .speech-bubble;
    }

    &--left {
        @extend .speech-bubble;

        margin-left: auto;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 20px solid transparent;
            border-right-color: $color-sea-bubble;
            border-left: 0;
            border-bottom: 0;
            margin-top: 10px;
	        margin-left: -12px;
        }
    }
}
