@media screen and (max-width: 1600px) {
    .c {
        &-nav {padding: 0 5vw;}
    }
}

@media screen and (max-width: 1400px) {
    #areas {
        justify-content: space-evenly !important;
    }

    #headerAreasPage {
        &::after {min-width: 560px;}
    }
     #headerFAQPage {&::after {min-width: 640px;}}

    .typo {
        &-nav {
            &-link {
                font-size: 25px;
            }
        }
        &-h1 {
            &--main {font-size: 4vw;}
        }
        &-p {
            font-size: 1.7vw;
            &--main {
                font-size: 2.5vw;
            }
            &--schedule {
                &-header {font-size: 1.8vw;}
                &-time, &-tutor {font-size: 1.5vw;}
            }
        }
    }

    .c {
        &-area {
            &--header {
                & a {
                    font-size: 25px;
                }
            }
        }
        &-nav {
            padding: 0 10px;
        }
        &-svg_background--areas {background-size: 80% auto;}
    }

    .animate {
        &-nav-item {animation-delay: 0.2s;}
    }

    .column {
        &-header, &--day, &--time {
            min-width: 120px;
        }
    }

    .bubble-responsive {
        min-width: 70px;
        width: 10vw;
    }
    .logo-link {
        opacity: 0;
        display: none; 
    }

    .horario, .c-select--schedule, #headerSchedulePage {
        padding: 1vh 8vw !important;
    }
}

@media screen and (max-width: 1200px) {
    body {overflow-y: auto !important;}
    #app {
        & #responsive-navbar-nav {background-color: $color-navbar--hover;}
    }
    #app.dark-mode {
        & #responsive-navbar-nav {background-color: $color-dark_theme-hover--navbar;}
    }

    #responsive-navbar-nav {
        min-width: 100vw;
        padding-left: 25px;
        transform: translateX(-25px)
    }

    #headerSchedulePage, #headerAreasPage, #headerFAQPage {
        padding: 0 30px !important;
        align-items: center !important;
        justify-content: space-between !important;
        h1 {
            font-size: 4vw;
        }
    }
    #headerFAQPage{
        &::after{ min-width: 50vw; }
    }
    #mainLandPage {
        padding-top: 50px !important;
        flex-direction: column !important;
        height: auto !important;
    }

    #footerLandPage {display: none;}

    #faqs {
        padding: 5vh 30px 5vh;
        align-items: flex-start;
    }

    .column {
        &-header, &--day, &--time {
            min-width: 8vw;
        }
    }
    .horario, .c-select--schedule{
        padding: 1vh 20px !important;
    }
    .c {
        &-select--schedule {
           padding: 2vh 20px;
        }
        &-content--main {
            width: 80%;
        }
        &-btn {
            & svg {transform: scale(1.0);}
            &:hover {
                & svg {transform: scale(1.03);}
            }
        }
        &-question {width: 90vw !important;}
        // &-svg_background {
        //     background-size: 90vw 50vh;
        //     background-position: 50% 30%;
        // }
    }
    .typo {
        &-h1 {
            &--main {
                font-size: 50px;} 
                text-align: center;
        }
        &-p {
            &-answer {font-size: 1.4vw;}
            &--main {font-size: 30px;}
            &--schedule {
                &-header {font-size: 2vw !important;}
                &-time, &-tutor {font-size: 1.5vw !important;}
            }
        }
        &-a {font-size: 1.4vw;}
    }
    .btn {
        &-join {
            min-width: 250px;
            width: 20vw;
            height: 8vh;
            font-size: 35px;
        }
    }
}

@media screen and (max-width: 1000px) {
    #landPage {
        & main {justify-content: flex-start !important;}
    }
    #headerAreasPage {
        align-items: center !important;
        & h1 { font-size: 4vw;}

        &::after {min-width: 50vw;}
    
    }
    #headerSchedulePage {
        align-items: center !important;
        h1 { font-size: 40px; }
        &::after {min-width: 60vw;}
    }
    #headerFAQPage {
        h1 { font-size: 4vw; }
        &::after {min-width: 55vw;}
    }
    #selectArea, .select-area, .select-menu {
        font-size: 2.5vw;
        min-width: 250px !important;
        &::before {
            width: 20px;
            height: 20px;
        }
    }
    .select-area { min-width: 240px !important; }

    .typo {
        &-p {font-size: 18px;}
        &-p-answer {font-size: 15px;}
        &-a {font-size: 15px;}
    }

    .c {
        &-question {width: 90vw !important;}
        &-theme_switcher {
            // bottom: 0;
            top: 85%;
            height: 70px;

            // border-radius: $radius--theme_switcher $radius--theme_switcher 0 0;
            // &:hover {
            //     height: $height-hover--theme_switcher;
            // }
            // & svg {
            //     margin-left: auto;
            //     margin-top: 25px;
            // }
        }
    }
}
// mobiles oriented
@media screen and (max-width: 800px) {
    #headerFAQPage, #headerSchedulePage, #headerAreasPage {
        &::after {
            position: absolute !important;
            transform: translateY(10px) !important;
        }
        & h1 {
            font-size: 25px !important;
            width: 45vw;

        }
        justify-content: space-between !important;
        padding: 0 $margin-header-mobile !important;
    }
    #areas {
        padding: 40px 10vw 0px !important;
    }
    #logo {
        transform: scale(0.8) !important;
        &:hover {
            transform: scale(0.85) !important;

        }
    }
    .horario, .c-select--schedule {padding: 1vh 0px !important;}
    a.typo-p {font-size: 16px;}

    #areasSchedule {overflow: auto;}
    
    .typo {
        &-h1--main {font-size: 8vw !important;}
        &-p {
            &--main {font-size: 5vw !important;}
            &--schedule {
                &-header {font-size: 13px !important;}
                &-time, &-tutor {font-size: 12px !important;}
            }
        }
        &-nav-link {font-size: 20px !important;}
    }

    .btn-join {
        min-width: 40vw;
        max-width: 150px;
        font-size: 4.2vw;
    }
    .c {
        &-area {
            width: 220px;
            min-width: 220px;
            &--header {
                & a {font-size: 20px;}
                & img {width: 25px !important;}
            }
        }
        &-subject {
            & a {font-size: 15px}
        }
        &-image {
            &--main {
                & img {min-width: 70vw;}
            }
        }
        &-btn--join {
                & a {
                    & svg {transform: scale(0.8) !important;}    
                }
        }
        &-svg_background--land {
            background-position: 50% 20%;
            background-size: 90% 45%;
        }
    }
    .nav-item-spaced {padding-left: 2vw !important;}
}

@media screen and (max-height: 840px) {
    #headerFAQPage {
        &::after {
            transform: translateY(20px) !important;
        }
    }
}

@media screen and (max-height: 840px) and (max-width: 1500px) {
    #headerSchedulePage {
        &::after {transform: translateY(10px);}
    }
    #landPage {
        & #mainLandPage {height: 70vh;}
        & #footerLandPage {height: 17vh;}
        & .btn-join {
            font-size: 35px;
        }
        & .animate {
            &-widget {
                transform: translateY(40%);
                animation-name: swipe-up--responsive;
            }
        }

    }
    & .speech-bubble {
            &--right {&::after{margin-right: -8px;}}
            &--left {&::after{margin-left: -7px;}}
        }
    & .c {
            &-logo {max-height: 70px;}
            &-svg_background {
                &--land {background-size: 90% 95%;}
                &--areas {background-size: 50% auto;}

            }
            &-btn--join {
                & svg {transform: scale(1);}
            }
            &-area {min-height: 600px;}
        }

}