#app.dark-mode {
    .speech-bubble {
        &--left {
            // transition: background-color $time-dark_mode-transition;
            background-color: $color-dark_theme--bubble_logo;
            &::after {
                transition: border-color $time-dark_mode-transition;
                border-right-color: $color-dark_theme--bubble_logo;
            }
        }
        &--right {
            // transition: background-color $time-dark_mode-transition;
            background-color: $color-dark_theme--bubble_logo;
            &::after {
                transition: border-color $time-dark_mode-transition;
                border-left-color: $color-dark_theme--bubble_logo;
            }
        }
    }
    & #landPage, #areasPage, #schedulePage, #faqsPage {background-color: $color-dark_theme--bg;}
    & #landPage {
        .btn-join {background-color: $color-dark_theme--btn_join;}
        & .c {
            &-btn--join {
                &:hover {
                    box-shadow: 2px 1px 6px 0 $color-dark_theme-hover--bg, 2px 2px 10px 0 $color-dark_theme-hover--bg;
                }
            }
            &-nav {
                &:hover {background-color: $color-dark_theme-hover--navbar;}
            }
            &-svg_background--land {background-image: url("../images/bg-landPage-dark.png");}
            &-widget {
                &:hover {box-shadow: 2px 1px 4px 0 $color-dark_theme-hover--bg, 2px 2px 8px 0 $color-dark_theme-hover--bg;}
            }
        }
        & .typo {
            &-h1--main {
                transition: background-color $time-dark_mode-transition;
                color: $color-dark_theme--main_title
            }
            &-p--main {
                transition: background-color $time-dark_mode-transition;
                color: $color-dark_theme--main_text;
            }
            &-nav {
                &-link {
                    &:hover {color: $color-dark_theme-hover--navbar_items;}
                }
                &-title {
                    color: $color-dark_theme--title_logo;
                    &:hover {color: $color-dark_theme--title_logo;}
                }
            }
        }

        & .underlined-link {
            &::after{border-bottom-color: $color-dark_theme-hover--navbar_items_bar;}
        }

        & button.navbar-toggler {
            &:focus {
                border-color: white;
                outline-color: white;
            }
            & span.navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            }
        }

        & #navbar {
            &-parent.active {background-color: $color-dark_theme-hover--navbar;}
        }
    }

    & #areasPage {
        & #headerAreasPage {
            & h1 {color: $color-dark_theme-font--header;}
            &::after {background-color: $color-dark_theme-header--hover_bar;}
        }
        & .c {
            &-area {
                &:hover {box-shadow: 0 2px 4px 0 $color-dark_theme-hover--bg, 0 6px 8px 0 $color-dark_theme-hover--bg;}
            }
            &-svg_background--areas {background-image: url("../images/bg-areasPage-dark.png");}
        }
    }

    & #schedulePage {
        & #headerSchedulePage {
            & h1 {color: $color-dark_theme-font--header;}
            &::after {background-color: $color-dark_theme-header--hover_bar;}
        }
        & #selectArea, .select-menu {
            background-color: $color-dark_theme--select_area;
            border-bottom: solid 2px $color-dark_theme--border_container;
        }
        & #selectArea, .select-area {color: $color-dark_theme-font--tutor;}
        & .select-area {
            border-bottom: solid 1px $color-dark_theme--border_container;
            &:hover{background-color: $color-dark_theme-hover--selecteable_areas;}
        }
        & .select-menu {box-shadow: 0 16px 32px rgba(1,4,9,0.85);}
        & #selectArea {
            &:hover {background-color: $color-dark_theme-hover--select_area;}
        }

        & .c {
            &-schedule {
                box-shadow: 0 2px 4px 0 $color-dark_theme-hover--bg, 0 3px 8px 0 $color-dark_theme-hover--bg;
            }
            &-stripe {
                background-color: $color-dark_theme--schedule_stripe;
                border-bottom: solid 2px $color-dark_theme--schedule_stripe_border;
                &:hover {background-color: $color-dark_theme-hover--schedule_stripe;}
            }
        }
        & .typo {
            &-p--schedule-tutor {color: $color-dark_theme-font--tutor;}
            &-p--schedule-time {color: $color-dark_theme-font--time;}
        }
        & .column {
            &--time {border-right: solid 2px $color-dark_theme--schedule_stripe_border;}
        }
    }

    & #faqsPage {
        & #headerFAQPage {
            & h1 {color: $color-dark_theme-font--header;}
            &::after {background-color: $color-dark_theme-header--hover_bar;}
        }
        & .c {
            &-question {
                background-color: $color-dark_theme--faq_question;
                &:hover {box-shadow: 1px 2px 4px 0 $color-dark_theme-hover--bg, 1px 4px 8px 0 $color-dark_theme-hover--bg;}
                &--header {
                    background-color: $color-dark_theme--faq_question;
                    border-bottom: solid 2px $color-dark_theme--border_container;
                }
                &--body {
                    background-color: $color-dark_theme--faq_question_body;
                }
            }
            &-svg_background--areas {background-image: url("../images/bg-areasPage-dark.png");}
        }
    }

    & .typo {
        &-p {
            color: $color-dark_theme-font--p;
            &-answer {color: $color-dark_theme-font--p;}
        }
    }
}