$btn-radius: 10px;
$bubble-radius: 30px;

$navbar--height: 10vh;

$navbar--load-time: 0.1s;
$navbar-items--load-time: 1s;

$default-transition-time: 0.3s;

$reveal-transition-shift--horizontal: 5vw;
$reveal-transition-shift--vertical: 7vh;

$image-delay-time: 1s;
$image-animation-time: 2s;
$image-shift-hover: -15px;


$title-overline-width: 40%;

$schedule-col-width: 170px;
$schedule-col-width--min: 8vw;

$margin-header-mobile: 10px;

$page-margin: 150px;
$areasPage-margin: 150px;

// // a
// $color-sea-bubble: #E26D5A;
// $color-join-btn: #67B93E;

// $color-nav-link--hover: #3E2A35;
// $color-nav-link: #614253;

// $color-bg: #ece6e2;
// $color-hover-bar: rgb(224, 205, 193);

// $color-bg--hover:rgb(172, 168, 162);

// $color-stripe-disabled: rgb(133, 131, 131);
// $color-stripe--hover: rgb(226, 241, 250);

// $color-blue-link: #3066BE;


// b
// $color-sea-bubble: #F4A698;
// $color-join-btn: #4059AD;

// $color-nav-link--hover: #A0CFD3;
// $color-nav-link: #84acaf;

// $color-bg: #fff;
// $color-hover-bar: #C5C392;

// $color-bg--hover:rgb(172, 168, 162);

// $color-stripe-disabled: rgb(133, 131, 131);
// $color-stripe--hover: rgb(226, 241, 250);

// $color-blue-link: #3066BE;

// $color-font: #51291E;
// $color-font--title: #3F292B;
// $color-font--schedule_header: white;
// $color-font--schedule_tutor: #3E2A35;

// $color-font--main_title: #3E2A35;

// c
// $color-sea-bubble: #E6AF2E;
// $color-join-btn: #5865F2;

// $color-nav-link--hover: #bd8e75;
// $color-nav-link: #D6A184;
// $color-hover-bar: #6B6054;

// $color-header-hover-bar: #bd8e75;

// $color-bg: #FFE2D1;

// $color-bg--hover:rgb(172, 168, 162);

// $color-stripe-disabled: rgb(133, 131, 131);
// $color-stripe--hover: rgb(226, 241, 250);

// $color-blue-link: #3066BE;

// $color-question-header: #fdeee5;
// $color-question-body: #f5e7de;


// $color-font: #3E2A35;
// $color-font--title: #6B6054;
// $color-font--schedule_header: white;
// $color-font--schedule_tutor: #3E2A35;
// $color-font--faq-title: #3E2A35;
// $color-font--faq-answer: #111;

// $color-font--main_title: #3E2A35;


// d
$color-sea-bubble: #a698dd;
$color-join-btn: #5865F2;

$color-nav-link--hover: #7A6C5D;
$color-nav-link: #665b4e;

$color-navbar--hover: #e6e7e1;

$color-hover-bar: #859ce7;

$color-header-hover-bar: #bd8e75;

$color-bg: #F1F2EB;

$color-bg--hover:rgb(172, 168, 162);
$color-svg-bg--hover:#6e4145;


$color-stripe-disabled: rgb(133, 131, 131);
$color-stripe--hover: rgb(226, 241, 250);

$color-blue-link: #859ce7;

$color-question-header: #fff;
$color-question-body: rgb(244, 244, 247);


$color-font: #3E2A35;
$color-font--title: #9D5C63;

// $color-font--main_title: rgb(157, 92, 99);
$color-font--main_title: #212529;
$color-font--main_text: #faead2c2;

$color-font--schedule_header: white;
$color-font--schedule_tutor: #3E2A35;
$color-font--faq-title: #3E2A35;
$color-font--faq-answer: #5C5346;


// 

$color-soft--hover: rgb(244, 244, 247);

$color-mathematics--header: #4ed34e;
$color-mathematics--subject: #77dd77;
$color-mathematics--bg: #b4ecb4;

$color-physics--header: #7c57bb;
$color-physics--subject: #966fd6;
$color-physics--bg: #decef2;

$color-chemestry--header: #68BBE3;
$color-chemestry--subject: #89CFF0;
$color-chemestry--bg: #cae7f3;

$color-geometry--header: #f77a27;
$color-geometry--subject: #ff964f;
$color-geometry--bg: #fed0b1;
// $h: rgb(232, 185, 171);

$color-languages--header: #E18AAA;
$color-languages--subject: #ECBDC4;
$color-languages--bg: #F5DCE0;

// $color-font: #453F3C;
// $color-font--title: #453F3C;
// $color-font--schedule_header: white;
// $color-font--schedule_tutor: #3E2A35;

// $color-font--main_title: #3E2A35;

$font-family-base: system-ui, "Gill Sans", sans-serif;
$font-family: system-ui, "Gill Sans", sans-serif;
