@import "./colors.scss";

$btn-radius: 10px;
$radius--theme_switcher: 50px;
$bubble-radius: 30px;

$width--theme_switcher: 60px;
$width-hover--theme_switcher: 75px;
$height--theme_switcher: 80px;
$height-hover--theme_switcher: 95px;

$navbar--height: 11vh;

$navbar--load-time: 1s;
$navbar-items--load-time: 1s;

$time-delay--widget: $navbar--load-time + $navbar-items--load-time - 0.5s;
$time-dark_mode-transition: 1.2s;

$default-transition-time: 0.3s;

$reveal-transition-shift--horizontal: 5vw;
$reveal-transition-shift--vertical: 7vh;

$image-delay-time: $navbar--load-time;
$image-animation-time: 2s;
$image-shift-hover: -15px;

$title-overline-width: 40%;

$schedule-col-width: 170px;
$schedule-col-width--min: 8vw;
$schedule-min_width: 700px;

$margin-header-mobile: 10px;
$margin--text_logo: 5px;

$page-margin: 150px;
$areasPage-margin: 150px;

$areas-height: 70vh;
$areas-max-height: 1200px;
$areas-min-height: 600px;

$font-family-base: "Open Sans", sans-serif;
$font-family: "Open Sans", sans-serif;

$font-size--main_title: 50px;
$font-size--main_text: 30px;
